/* .cabecalho__root {
  background-color: green;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
} */

.cabecalho__titulo {
    font-size: 12px;
}